#############################
# ‣ Python build artefacts  #
#############################
# Wheels / source dists
dist/
build/
*.egg-info/

##########################
# ‣ Local environments   #
##########################
.venv/
venv/
env/
# Conda
*.conda
*.ipynb_checkpoints/

##########################
# ‣ Caches / byte-code   #
##########################
__pycache__/
*.py[cod]
*.so
.pytest_cache/
.coverage
htmlcov/

########################
# ‣ IDE/tooling files  #
########################
# VSCode / PyCharm / etc.
.vscode/
.idea/
*.swp
*.swo

#############################
# ‣ Project-specific stuff  #
#############################
# Generated reports, data, models
reports/
data/
models/

# Local test scratch-space
testenv/

*.ipynb
